<div class="container">
  <div
    class="row row-md-cols-1 text-center justify-content-center align-items-center"
  >
    <h1 class="logo mt-5">Tech Blog</h1>
    <h4>
      Please log-in to enjoy our website!
    </h4>
    <div class="col-md-6 p-5">
      <div class="card text-light user-card">
        <div class="card-body text-center login-card">
          <div class="h1 mb-3">
          </div>
          <h3 class="card-title mb-3"></h3>
          <p class="card-text text-light sign-up">
            Don't have an account?
            <a href="/signup" class="signup-link">Sign up</a>
          </p>
          <form class="login-form text-dark p-3">
            <div class="form-floating user-input mb-3">
              <input
                type="name"
                class="form-control"
                id="name-login"
                aria-describedby="nameHelp"
                placeholder="Name"
              />
              <label for="exampleInputName1">Your Name</label>
            </div>
            <div class="form-floating user-input mb-3">
              <input
                type="email"
                class="form-control"
                id="email-login"
                aria-describedby="emailHelp"
                placeholder="Email"
              />
              <label for="exampleInputEmail1">Email</label>
            </div>
            <div class="form-floating user-input mb-3">
              <input
                type="password"
                class="form-control"
                id="password-login"
                placeholder="Password"
              />
              <label for="exampleInputPassword1">Password</label>
            </div>
            <button type="submit" class="btn btn-dark login-btn">
              Log in
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/js/login.js"></script>