<div class="container">
  <div
    class="row row-md-cols-1 text-center justify-content-center align-items-center"
  >
    <h1 class="logo mt-5">Quizard</h1>
    <h4>
      Test your knowledge in different categories
      <br />
      while you chat with friends.
    </h4>
    <div class="col-md-6 p-5">
      <div class="card text-light user-card">
        <div class="card-body text-center login-card">
          <div class="h1 mb-3">
          </div>
          <h3 class="card-title mb-3"></h3>
          <p class="card-text text-light sign-up">
            Sign up to play
          </p>
          <form class="signup-form text-dark p-3">
            <div class="form-floating user-input mb-3">
              <input
                type="email"
                class="form-control"
                id="email-signup"
                aria-describedby="emailHelp"
                placeholder="Email"
              />
              <label for="exampleInputEmail1">Email</label>
            </div>
            <div class="form-floating user-input mb-3">
              <input
                type="password"
                class="form-control"
                id="password-signup"
                placeholder="Password"
              />
              <label for="exampleInputPassword1">Password</label>
            </div>
            <button type="submit" class="btn btn-dark login-btn">
              Sign up
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/js/signup.js"></script>